.header-menu ul{
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-menu ul li {
    float: left;
    margin-right: 2.5%;
    width: 9%;
    text-align: center;
    border-radius: 24px;
    padding: 2px;
}

.header-menu ul li a {
    color: #fff;
    font-weight: 500;
    font-size: 1.0625em; /*17px*/
    text-decoration: none;
}

.active {
    background-color: #7581D2;
}

.active a {
    font-weight: 600;
}