.card {
    background: white;
    padding: 3%;
    border-radius: 15px;
    box-shadow: 0px 2px 5px 0px #a0a0a0;
}

.card-header {
    height: 25%;
}

.card-header h4 {
    color: #99a0a7;
    font-weight: 500;
}

/*.card h2 span {
    color: #79828b;
}*/

/*
.card h2 {
    color: #42505c;
    font-size: 1.625em; 26px
    font-weight: 600;
} */

.card-body {
    display: flex;
    flex-direction: row;
}

.card-body .markup {
    width: 40%;
    border-radius: 34px;
    padding: 5px;
    text-align: center;
}

.purple {
    background-color: #eff0fa;
    margin-top: 2%;
    margin-bottom: 5%;
}

.purple h4 {
    color: #6271d2;
}

.orange {
    background-color: #faf2ef;
}

.orange h4 {
    color: #d28e62;
}

.card-body .left-column {
    display: flex;
    width: 30%;
    flex-direction: column;
}

.card-body .right-column {
    width: 70%;
}

.card-footer {
    border-top: 1px solid #d4d4d4;
    padding-top: 5%;
}

.card-footer .markup {
    width: 35%;
    border-radius: 34px;
    padding: 5px;
    text-align: center;   
}