/* Framework */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; } *, * {box-sizing: border-box; -o-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; } 

:root {
	--theme-color: #6170d1;
	--theme-color-darker: #4652a4;
	--theme-color-lighter: #7581d1;
	--light-blue: #efeffb;
	--blue: #616cb3;
	--light-orange: #faf1ef;
	--orange: #c09276;
	--light-gray: #f1f2f4;
	--light-green: #cff3e3;
	--green: #1cc47d;
	--gray: #939ba2;
	--shadow: 5px 5px 20px rgba(0,0,0,0.1);
	--border-radius: 10px;
	--transition: all .2s ease-in-out 0s;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	line-height: 1.4em;
	color: #333333;
}

button, input, select {
	font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 769px) {
	body {
		font-size: 16px;
	}
}

h1, h2, h3, h4 {
	margin-bottom: 20px;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover, a:hover > * {
	color: var(--theme-color);
}

p {
	margin-bottom: 20px;
}

p:last-child {
	margin-bottom: 0px;
}

img {
	display: block;
	max-width: 100%;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 20px;
}

.grid {
	display: grid;
	grid-gap: 40px;
}

.flex {
	display: flex;
	flex-direction: column;
}

.wrap {
	flex-wrap: wrap;
}

.fd-c {
	flex-direction: column;
}

.fd-r {
	flex-direction: row;
}

.jc-sb {
	justify-content: space-between;
}

.jc-fs {
	justify-content: flex-start;
}

.ai-fs {
	align-items: flex-start;
}

.ai-fc {
	align-items: center;
}

.fr-mobile {
	flex-direction: column-reverse;
}

.w30 {
	flex: 0 0 28.5%;
}

.w50 {
	flex: 0 0 48.5%;
}

.w70 {
	flex: 0 0 68.5%;
}

.sm-gap {
	grid-gap: 15px;
}

.md-gap {
	grid-gap: 25px;
}

.col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	grid-template-columns: 1fr;
}

.col-2-f {
	grid-template-columns: 1fr 1fr;
}

.fd-r {
	flex-direction: row;
}

@media screen and (min-width: 769px) {

	.flex {
		flex-direction: unset;
	}
	
	.fr-mobile {
		flex-direction: unset;
	}

	.fd-c {
		flex-direction: column;
	}
	
	.col-2 {
		grid-template-columns: 1fr 1fr;
	}
	
	.col-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.col-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.col-5 {
		grid-template-columns: repeat(5, 1fr);
	}

	.col-6 {
		grid-template-columns: repeat(6, 1fr);
	}

	.col-7 {
		grid-template-columns: repeat(7, 1fr);
	}

	.col-8 {
		grid-template-columns: repeat(8, 1fr);
	}

	.col-9 {
		grid-template-columns: repeat(9, 1fr);
	}

	.col-10 {
		grid-template-columns: repeat(10, 1fr);
	}

	.col-11 {
		grid-template-columns: repeat(11, 1fr);
	}

	.col-12 {
		grid-template-columns: repeat(12, 1fr);
	}

	.span-2 {
		grid-column: span 2;
	}

	.span-3 {
		grid-column: span 3;
	}

	.span-4 {
		grid-column: span 4;
	}

	.span-5 {
		grid-column: span 5;
	}

	.span-6 {
		grid-column: span 6;
	}

	.span-7 {
		grid-column: span 7;
	}

	.span-8 {
		grid-column: span 8;
	}

	.span-9 {
		grid-column: span 9;
	}

	.span-10 {
		grid-column: span 10;
	}

	.span-11 {
		grid-column: span 11;
	}

	.span-12 {
		grid-column: span 12;
	}

}

.dash-item {
	background-color: #ffffff;
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);
	padding: 20px;
}

.main-content {
	padding-bottom: 60px;
}

.h-separator {
	display: block;
	border: 0.5px solid #e2e2e2;
	margin: 20px 0;
}

.mini-title {
	text-transform: uppercase;
	color: #666666;
	font-size: 1em;
	font-weight: normal;
	margin-bottom: 30px;
}

.big-value, .mid-value, .sm-value {
	color: #333333;
	margin-bottom: 10px;
}

.big-value {
	font-size: 2em;
}

.mid-value {
	font-size: 1.4em;
}

.sm-value {
	font-size: 1.1em;
}

.lighter {
	color: #666666;
}

.sub {
	display: block;
	font-size: 13px;
	color: #666666;
	margin-bottom: 30px;
}

.sub.active {
	color: var(--theme-color);
}

@media screen and (max-width: 768px) {
	.sub {
		font-size: 11px;
	}
	.mobile-none {
		display: none;
	}
}

.green {
	color: var(--green);
}

.blue-highlight, .orange-highlight, .gray-highlight, .green-highlight {
	font-size: 14px;
	padding: 10px 15px;
	border-radius: 100px;
	margin-bottom: 10px;
	display: inline-block;
}

.blue-highlight {
	background-color: var(--light-blue);
	color: var(--blue);
}

.orange-highlight {
	background-color: var(--light-orange);
	color: var(--orange);
}

.gray-highlight {
	background-color: var(--light-gray);
	color: var(--gray);
}

.green-highlight {
	background-color: var(--light-green);
	color: var(--green);
}

.icon {
	width: 35px;
	height: 35px;
	background-color: var(--theme-color-darker);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon svg {
	stroke-width: 2px;
	max-width: 20px;
}

.icon:not(:last-of-type) {
	margin-right: 10px;
}

.no-margin {
	margin: 0;
}

.cta-light, .cta-dark {
	padding: 15px 25px;
	border-radius: var(--border-radius);
	color: #ffffff;
	display: inline-block;
	cursor: pointer;
	font-size: 1em;
	text-transform: uppercase;
	transition: var(--transition);
}

.cta-light {
	border: 2px solid #ffffff;
	background-color: transparent;
}

.cta-light:hover {
	background-color: #ffffff;
	color: var(--theme-color);
}

.cta-dark {
	background-color: var(--theme-color);
}

.cta-dark:hover {
	background-color: var(--theme-color-darker);
	color: #ffffff;
}

.user-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}

/* Framework */