.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35%;
    background-color: #6170d1;
}

.header-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.header-row .text-wrapper {
    width: 80%;
}

.header-row .text-wrapper h3 {
    font-weight: 400;
    color: #fff;
    font-size: 1.375em;
    /*22px*/
}

.header-row .text-wrapper h3 span {
    color: #969fdd;
}

.profile-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.profile-wrapper .content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-wrapper .content .icon-wrapper {
    display: flex;
    align-content: center;
    width: auto;
    height: auto;
    background: #5a6abc;
    border-radius: 50%;
}

.profile-wrapper .content .bell-icon {
    margin-right: 10%;
}

.profile-wrapper .content h3 {
    font-weight: 400;
    color: #fff;
    font-size: 1.375em;
    /*22px*/
    margin-right: 10%;
}

/*Mobile*/

@media screen and (max-width: 479px) {
    .wrapper {
        height: 25%;
    }
    .profile-wrapper .content .icon-wrapper {
        width: unset;
    }
    .mobile {
        display: flex;
    }
    .desktop {
        display: none;
    }
    .profile-wrapper .content {
        width: 100%;
    }
}

/*Tablet*/

@media screen and (min-width: 480px) and (max-width: 768px) {
    .wrapper {
        height: 25%;
    }
    .profile-wrapper .content .icon-wrapper {
        width: unset;
    }
    .mobile {
        display: flex;
    }
    .desktop {
        display: none;
    }
}

@media screen and (min-width: 767px) {
    .mobile {
        display: none !important;
    }
    .desktop {
        display: block;
    }
    .profile-wrapper .content {
        width: 50%;
    }
}